body {
        background-color: #6199CE;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
}

#trybe {
        color: #3f7b3d;
}

#victorname {
        color: #D2B337;
        text-align: center;
}

#skilladaptabilidade {
        font-size: 130%;
        color: #D2B337;
}

.infocontents {
        display: flex;
        height: 550px;
}

#victorimage {
        width: 250px;
        height: 450px;
        background-color: #D2B337;
        border-radius: 10px;
        margin-left: 20px;
        margin-top: 50px;
        margin-right: 50px;
        display: flex;
        padding: 20px;
}

.description {
        display: flex;
        margin-top: 50px;
}

#impar {
        font-style: italic;
}

a {
        text-decoration: none;
        color: #D2B337;
}