body { background-color: #6199CE;}
            h1, h2 { color: #D2B337;}
            strong { color: #E7E27D;}
            #trybe { color: #65CB62;}
            h1, #descriçãovictor { font-family:'Open Sans', sans-serif;<link rel="preconnect" href="https://fonts.googleapis.com">
                                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                                    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Open+Sans:ital,wght@1,500&display=swap" rel="stylesheet">;}
            #habilidadedeadaptabilidade { font-size: 150%;}